<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    </head>
    <body>
        <nav>
            <a href="http://first-news-app.readthedocs.org/">
                <img src="{{ url_for('static', filename='irelogo.png') }}">
            </a>
        </nav>
        <header>
            <h1>These are the 60 people who died during the L.A. riots</h1>
            <div class="byline">
                By <a href="http://first-news-app.readthedocs.org/">The First News App Tutorial</a>
            </div>
        </header>

        <div id="map" style="width:90%; height:450px;"></div>
        <h1>State prisons in Missouri</h1>
        <table border=1 cellpadding=7>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Security</th>
                <th>Capacity</th>
                <th>Built year</th>
                <th>Facility for gender</th>
            </tr>
        {% for obj in object_list %}
            <tr>
                <td><a href="{{ obj.id }}/">{{ obj.name }}</a></td>
                <td>{{ obj.location }}</td>
                <td>{{ obj.security }}</td>
                <td>{{ obj.capacity }}</td>
                <td>{{ obj.start_year }}</td>
                <td>{{ obj.geneder }}</td>
            </tr>
        {% endfor %}
        </table>
        <script type="text/javascript">
            var map = L.map('map').setView([38.12, -92.18], 6.49);
            var osmLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: 'Data, imagery and map information provided by <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors.'
            });
            map.addLayer(osmLayer);
            var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "name": "{{ obj.name }}",
                    "id": "{{ obj.id }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.x }}, {{ obj.y }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };
            var blackIcon = L.Icon.extend({
                options: {
                    iconUrl: "{{ url_for('static', filename='marker-24.png') }}",
                    iconSize: [24, 24]
                }
            });
            var dataLayer = L.geoJson(data, {
                pointToLayer: function (feature, latlng) {
                    return L.marker(latlng, {icon: new blackIcon()});
                },
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(
                        '<a href="' + feature.properties.id + '/">' +
                            feature.properties.name +
                        '</a>'
                    );
                }
            });
            map.addLayer(dataLayer);
        </script>
    </body>
</html>